# Introduction to Scientific Programming in Python - solutions

### Exercises (Lists)

1- Write a Python program to sum all the items in a list.

In [1]:
x=[1,2,3,18,35]

sum(x)

59

2- Write a Python program to get the largest and the smallest number from a list.

In [ ]:
print(min(x))
print(max(x))

1
35

3- Create a list of integer nember less than 10 and call it `a`.

In [9]:
a = [*range(1,10,1)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercises (dictionaries)

1- Use the `get` method to print the value of the "name" of the Movie dictionary.

In [ ]:
Movie.get("name")

'Twin Peaks'

2- Change the year from 1990 to "April 1990".

In [ ]:
Movie.update({"year":"April 1990"})
Movie

{'director': 'David Lynch', 'name': 'Twin Peaks', 'year': 'April 1990'}

3- Add the key/value pair "genre" : "mystery/drama/horror" to the Movie dictionary.

In [ ]:
Movie.update({"genre" : "mystery/drama/horror"})
Movie

{'director': 'David Lynch',
 'genre': 'mystery/drama/horror',
 'name': 'Twin Peaks',
 'year': 'April 1990'}

4- Use the pop method to remove "genre" from the Movie dictionary and return it to the screen.

In [ ]:
Movie.pop("genre")
Movie

{'director': 'David Lynch', 'name': 'Twin Peaks', 'year': 'April 1990'}

### Exercises (If statement and Loops)

1- Write a Python program to count the number of even and odd numbers from a series of numbers.
```
sample_list = [2, 3, 4, 5, 8, 2, 9]
```

In [ ]:
sample_list = [2, 3, 4, 5, 8, 2, 9]

odd=0
even=0

for i in sample_list:
    if i%2 == 0:
        even=even+1
    else:
        odd=odd+1

print(even,odd)

4 3

2- Write a Python program to get the Fibonacci series between 0 to 50.

hint: The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
Every next number is found by adding up the two numbers before it.

In [ ]:
fib = [0,1,1]

for i in range(2,50):
    x=fib[i-1] #fib[48] 
    y=fib[i] #fib[49]
    fib.append(x+y) #fib=[0,1,1,2,3,5]

print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]

3- Note these are the "list" exercises. Solve these, by using loops:

3.a. Write a Python program to sum all the items in a list.

3.b. Write a Python program to get the largest and the smallest number from a list.

3.c. Create a list of integer nember less than 10 and call it `a`.

In [ ]:
x=[1,2,3,18,35]
sum=0

for i in range(len(x)):
    sum=x[i]+sum

print(sum)

In [11]:
x=[1,2,3,18,35]
maxim = x[0]

for ele in x:
    if ele>maxim:
        maxim=ele
    else:
        continue

print(maxim)

35

In [ ]:
a=[]
for i in range(10):
      a.append(i)
print(a)

### Exercises (Functions)

1- Write a Python function to find the Max of three numbers.

hint: first write a function to find the Max of two number. Then use this function to find the Max of three numbers.

In [ ]:
def maxi(a,b,c):
    return max(c,max(a,b))
print(maxi(4,10,7))

10

2- Write a Python function to multiply all the numbers in a list. Go to the editor

hint: use a for loop
```
sample_list = [8, 2, 3, -1, 7]
```

In [2]:
def multiplier(my_list):
    
    multi=1
    
    for i in sample_list:
        multi=i*multi
        
    return multi
    
sample_list = [8, 2, 3, -1, 7, 0]
print(multiplier(sample_list))

0

3- Write a Python function that takes a list and returns a new list with unique elements of the first list.

hint: use for loop and if statement
```
sample_list : [1,1,3,3,3,3,4,4,4,5,7,7,7]
unique_list : [1, 3, 4, 5, 7]
```

In [ ]:
def unique(sample_list2):
    unique_list=[]
    dynamiclist = sample_list2.copy()

    for i in sample_list2:
        if dynamiclist.count(i)>1:
            dynamiclist.remove(i)
        else:
            unique_list.append(i)

    return unique_list

sample_list3=[1,1,3,3,3,3,4,4,4,5,8,7,7,7]

print(unique(sample_list3))

[1, 3, 4, 5, 8, 7]

4- Write a Python function that takes a number as a parameter and check the number is prime or not.

hint: a prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [8]:
def primenumber(x):
    if x<=1:
        is_prime="false"
    elif x==2:
        is_prime="true"
    else:
        for i in range(2,x):
            if x%i==0:
                is_prime="false"
                break
            else:
                is_prime="true"
    return is_prime

print(primenumber(5))

true